<!-- About section -->

<section id="about">
  <div class="container">
    <div class="row">
<!-- vecchio formato -->
      <!-- <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s"> -->
<!-- formato preso da gallery -->
        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
        <div class="about-thumb">
          <h4>About</h4>
          <p>Il Looking Glass Ensemble nasce in seno alla Scuola Civica di Musica "Claudio Abbado" di Milano in occasione di una stagione concertistica. Da quel momento i suoi membri, proveniente da tre paesi diversi, hanno deciso di proseguire lo studio del tardo-Classicismo e primo romanticismo, impiegando strumenti sia storici che moderni. Si sono esibiti per il festival Grandezze & Meraviglie di Modena e per la Società del Quartetto di Milano.</p>
        </div>
      </div>
<!--
      <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
        <img src="images/about-img.jpg" class="img-responsive img-circle" alt="About">
      </div> -->

      <!-- <div class="clearfix"></div> -->

      <!-- <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="section-title text-center">
          <h4>Chi siamo</h4>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </div>
      </div> -->

      <!-- team carousel -->
      <div id="team-carousel" class="owl-carousel">

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="images/team-img1.jpg" class="img-responsive img-circle" alt="Jody Livo">
          </div>
          <h2 class="heading">JODY LIVO</h2>
          <p class="description">violinista</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="images/team-img2.jpg" class="img-responsive img-circle" alt="Natalia Duarte Jeremias">
          </div>
          <h2 class="heading">NATALIA DUARTE JEREMIAS</h2>
          <p class="description">violista</p>
        </div>
      </div>

      <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
        <div class="team-thumb">
          <div class="image-holder">
            <img src="images/team-img3.jpg" class="img-responsive img-circle" alt="Giacomo Biagi">
          </div>
          <h2 class="heading">GIACOMO BIAGI</h2>
          <p class="description">violoncellista</p>
        </div>
      </div>
			</div>
    </div>
  </div>
</section>
