<!-- Concerti section -->

<section id="concerti">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12">
				<div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
					<div class="concerti-thumb">
						<h4>Concerti</h4>
						<h3>23 jun 2019</h3>
						<h2>Chiesa di San Bernardino delle Ossa, Milano </h2>
						 <p><i>Società del Quartetto.</i> Boccherini, i trii per archi, su strumenti storici e moderni.</p>
						<p>-  -  -  -  -  -  </p>
						<h3>15 sept 2018</h3>
						<h2>Chiesa di San Bartolomeo, Modena </h2>
						<p><i>Festival Grandezze & Meraviglie.</i><strong> Musica allo specchio</strong>:	Boccherini su strumenti storici e moderni.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
