<section class="member-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="member-name">NATALIA DUARTE JEREMIAS</h1>
            </div>
            <div class="col-xs-12">
                <div class="member-disclaimer">
                    <p><span class="letter-big">V</span>iolista specializzata in musica antica e moderna, antropologa,
                        di origine costaricana. Ama viaggiare, prendersi cura delle proprie piante e la cucina senza
                        glutine.</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="member-description">
                    <img src="images/team-img2.jpg" class="member-image">
                    <p>Costaricana, inizia il proprio percorso accademico con J. Dobrzelewski, consegue il bachelor
                        degree in antropologia e musica e successivamente il master degree in musica presso la
                        University of Arizona sotto la guida di H.-M. Xiao. Prosegue gli studi di viola con J. Brown
                        presso l’Escuela Superior de Música de Cataluña di Barcellona, dove approfondisce lo studio
                        della prassi storicamente informata con E. Moreno. Attualmente completa gli studi di musica
                        antica con G. de Rosa alla Civica Scuola Claudio Abbado di Milano. Ha collaborato con numerose
                        formazioni di musica antica tra cui la Academia Montis Regalis, la Innsbrucker
                        Festwochenorchester, Theresia Youth Baroque Orchestra, la Nordic Baroque Orchestra e la Jeune
                        Orchestre de l’Abbaye aux Dames. Nel corso della sua carriera ha suonato, tra gli altri, sotto
                        la direzione di A. Bernardini, M. Minkowski, L. Ghielmi, E. Onofri, e con formazioni da camera e
                        orchestrali in Italia, Spagna, Francia, Austria, Germania, Olanda, Inghilterra, Svizzera,
                        Norvegia, Isole Azzorre (Portogallo), USA e Costa Rica. Ha partecipato a importanti festival
                        quali Festival de Musica Antigua de Tiana, il Festival di musica antica di Utrecht, il Festival
                        di Musica Antica a Innsbruck, il Festival Monteverdi di Cremona.</p>
                </div>
            </div>
        </div>
    </div>
</section>