<!-- Repertorio section -->

<section id="repertorio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
        	<div class="repertorio-thumb">
						<h4>Repertorio</h4>
					<h2>Verità allo specchio </h2>
					<p>Luigi Rodolfo Boccherini <i>- Trii per archi dall’op 14 e op. 54, su strumenti storici e moderni. </i></p>
          <br>
					<h2>Maestri e allievi</h2>
					<p>Franz Joseph Haydn <i>- Trio per archi dall’op. 53</i></p>
          <p>Ludwig van Beethoven <i>- Trio per archi dall’op. 9</i></p>
          <p>Johann Nepomuk Hummel <i>- Trio per archi WoO 3 o WoO 4 </i></p>
          <p>Ferdinand Ries <i>- Trio per archi dal WoO 70 </i></p>
					<br>
        </div>
      </div>
    </div>
  </div>
</section>
